html{
  width: 100%;
}


body{
  display: flex;
  background-color: lavender;
  margin: auto;
  max-width: 1120px;
  background-color: white;
  flex-direction: column;

}
.logo{
 display: flex;
 justify-content: flex-start;
}

nav {
  display:flex;
  width: 100%;
  align-items: center;
  background-color: lavender;
  border-bottom: 2px solid #7d97ad;
  height: 140px;
}

.right-nav{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  width: auto;
  text-align: right;
  background-color: red;
}

.hero{
  width:100%;
}

h3{
  font-size: 30px;
  color:#7d97ad;
}

figure img{
  height: 200px;
  width: 100%;
  margin: 0;
}

.image-wrapper{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: lavender;
  padding: 0;
  margin: 0;
}

figure{
  margin: 0;
  background-color: red;
  display: inline-flex;
  flex-shrink: 1;
  flex-direction: column;
  padding: 0;
}

figure:first-of-type{
  padding-right: 5px;
}

figure:nth-last-of-type(2){
  padding: 0 5px;
}

figure:last-of-type{
  padding-left: 5px;
}
