html{
  width: 100%;
}


body{
  display: flex;
  background-color: lavender;
  margin: auto;
  max-width: 1120px;
  background-color: white;
  flex-direction: column;

}
.logo{
 display: flex;
 height: 3em;
 justify-content: flex-start;
}

nav {
  display:flex;
  width: 100%;
  align-items: center;
  background-color: lavender;
  border-bottom: 2px solid #7d97ad;
  height: auto;
}

.right-nav{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  width: auto;
  text-align: right;
  background-color: red;
  padding: 1em 0;
}

.hero{
  width:100%;
}


h1{
  font-size: 2em;
  line-height: normal;
  margin: 0;
}

h3{
  margin: 0;
  font-size: 1.5em;
  color:#7d97ad;
}

figure img{
  height: auto;
  width: 100%;
  margin: 0;
}

.section-title{
  padding: 1em 0;
}

.image-wrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: lavender;
}

figure{
  margin: 0;
  display: inline-flex;
  flex-direction: column;
}

figure:first-of-type{
  padding-right: 10px;
}

figure:nth-last-of-type(2){
  padding: 0 5px;
}

figure:last-of-type{
  padding-left: 10px;
}
