


html{
  background-color:#f3f4f5;
}

body{
  width:100%;
  height:100vh;
  margin:auto;
  background-color:lavender;
}

header,
.hero{
  padding:20px;
  background-color:wheat;
  width:1120px;
  box-sizing: border-box;
}

/* centers content */
.centered{
  display:flex;
  justify-content:center;
}

.hero{
 justify-content:flex-start;
 align-items:center;
 height:600px;
 padding:80px;
 box-sizing:border-box;
 background-size:cover;
 background-image:
    url('https://raw.githubusercontent.com/john00123/Udacity-fs-001/master/img/beach.jpg');
}

h1 {
  color: white;
  font: 32px/120% Helvetica, sans-serif;
  font-weight: 100;
}
